.gallery-section{
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gallery-section>div:nth-child(1){
    width:75%;
    margin-inline:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gallery-section>div{
    margin-top:1.5rem;
}

@media screen and (max-width:920px) {
    .gallery-section>div:nth-child(1){
        width:90%;
    } 
}