@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;500;600;700&family=Nanum+Myeongjo:wght@400;700;800&family=Playfair+Display:wght@400;500;800&family=Poppins:wght@200;300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");


:root{
  --primary-color : #6b271e ;
  --light-primary-color : #6b271ecc  ; 
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Playfair Display", "Poppins", "Roboto", sans-serif;
 
}

.section-header {
  font-size:2rem;
  line-height:3rem;
  text-align: center;
  color: var(--primary-color);
}
.section-header-content{
  font-size: 1rem;
  font-weight:500;
  letter-spacing: 0.1rem;
  line-height: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem;
  color: var(--light-primary-color);
}

@media screen and (max-width:920px) {
  .section-header {
    font-size:1.7rem;
    line-height:2.5rem;
  }
  .section-header-content{
    font-size: 0.9rem;
    line-height: 1rem;
    margin-bottom:0.5rem;
    padding:0rem;
    
  }
}